body {
    margin: 0px;
    padding: 0px
}
header {
    width: 100%;
    position: relative;
    color: white;
}
nav {
    background: rgba(51, 51, 51, 0.9);
    width: 100%;
    height: 20px;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
    margin: 0px auto;
    text-align: center;
    z-index: 100
}
nav a {
    color: white;
    text-decoration: none;
    padding: 2px;
    border-radius: 10px;
    line-height: 16px;
    height: 16px;
}
nav a:hover {
    background: white;
    color: black;
}
#a_options {
    position: absolute;
    top: 5px;
    right: 20px;
    height: 16px;
    line-height: 16px;
}
#d_options {
    display: none;
    z-index: 99;
    width: 100%;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
    background: rgba(51, 51, 51, 0.9);
    /* background: @bgcolor;
    */
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 10px;
    position: fixed;
}
#d_options fieldset {
    /* border: 1px dashed black;
    */
    border: none;
    border-radius: 5px;
    padding: 0px;
    margin: 7px 10px;
}
#d_options legend {
    font-weight: bold;
}
#d_options ul {
    list-style: none;
    margin: 5px 0px;
    padding-left: 20px;
}
#d_options li {
    line-height: 24px;
    height: 24px;
    clear: both;
}
#d_options li span {
    display: block;
    float: left;
}
#d_options li>span.label {
    min-width: 80px;
}
#d_options li>span>input[type=radio] {
    line-height: 24px;
    height: 24px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: block;
}
#d_options li>span.radio_label {
    margin-left: 5px;
    margin-right: 20px;
}
#d_options input.color_chooser {
    background: black;
    border: none;
    width: 13px;
    height: 13px;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px white;
    font-family: monospace;
}
#d_options input.color_chooser:hover {
    box-shadow: 0px 0px 10px white;
}
#d_options input.color_chooser_checked {
    outline: 1px solid white;
}
#qq {
    width: 100%;
}
.ranger-wrapper {
    display: block;
    float: left;
    max-width: 500px;
    margin-top: 10px;
}
.ranger-label {
    display: block;
    float: left;
    height: 20px;
}
.power-ranger .range-handle {
    width: 16px;
    height: 16px;
    top: -7px;
}
.power-ranger {
    height: 2px;
}
span.radio_label:hover {
    text-shadow: 0px 0px 5px white;
}